[2013-12-06 00:44] jstrunk opened #4 "misleading error message"
Dear Deep,

I was trying out a groupby query on metrics. pyDruid told me I had a malformed query, but when I run the generated query through curl it works.

[code]

Gives me:

[code]

I put the generated query into /tmp/query.druid and ran the following:

[code]

It returned the results I expected.

I saw this with both the pip installed version and the git version.

-Jeff

[2013-12-06 19:05] #4 closed, assigned to nobody

[2014-08-12 14:16] KenjiTakahashi opened #11 "select/search/generic queries"
Hi,

As far as I can see, pydruid does not currently support "new" query types, i.e. "select" and "search". Will be nice to have them :-).

Maybe it would also make sense to expose the `__post` method, so we are able to send queries directly? Might also be useful if somebody wants to use pydruid as a "middleware", with queries prepared somewhere else.

[2014-09-15 16:43] textractor opened #16 "having clause needs documentation in readme"
see client.py, having.py

[2015-06-18 15:08] drorata opened #22 "Use union of data sources"
Thanks for the nice package; it seems to be useful! :+1:

It is possible to combine several data sources together, like so:

[code]

Is there a way to consider this case when using pydruid?

[2015-06-23 06:42] drorata opened #23 "Versions issues"
It seems like the github master branch corresponds to version 0.2 but on pypi you can find version 0.2.1. Is this intended?

[2015-07-22 17:44] drcrallen opened #25 "Release to pypi"

[2015-07-22 17:45] fjy commented on #25
:+1:

[2015-07-22 17:48] drcrallen commented on #25
I'm hoping to be able to tackle this on 2015-07-24 assuming noone else can tackle it before then.

[2015-07-24 23:20] xvrl commented on #25
done, released to https://github.com/metamx/pydruid/releases/tag/pydruid-0.2.2 to https://pypi.python.org/pypi/pydruid/0.2.2

[2015-07-24 23:20] #25 closed

[2015-07-27 11:49] fizyk opened #26 "Re-upload version 0.2.1 to pypi"
It looks like releasing new version, you guys have removed 0.2.1 from pypi.

I'd ask you to re-upload that as we've have a strict dependency upgrade policy, and our requirements are locked against specific version of packages, including pydruid.

[2015-07-27 17:43] xvrl commented on #26
@fizyk as far as I know 0.2.1 was never an official release. When I checked, it was hidden in pypi. The date on it was from before 0.2.0 was even released, so I'm not sure what it corresponds to. Maybe @dganguli can provide some background on what that old 0.2.1 corresponds to?

I removed the old 0.2.1 it the attempt to release version 0.2.1, the successor to 0.2.0, which I tagged last week, but p

[2015-07-27 17:47] dganguli commented on #26
I believe 0.2.1 was a borked release and 0.2.0 was the first official pypi release.

[2015-07-27 18:06] fizyk commented on #26
so... it's not possible to upload that borked version? it's been there for a long while...

[2015-07-27 18:09] xvrl commented on #23
@drorata 0.2.1 was never mean to be, see #26

[2015-07-27 18:09] #23 closed

[2015-07-27 18:11] xvrl commented on #26
@fizyk If I remember correctly that old 0.2.1 was uploaded on 2014-04-03, and based on the git history, the code is identical to the first 0.2.0 release, the only differences are documentation and comments

[2015-07-27 18:20] xvrl commented on #26
@fizyk If we can find someone who has the old 0.2.1 tarball, we can try re-uploading it using a different version number so it won't be too confusing, otherwise I would advise to just switch your code to use 0.2.0. Let us know if you are having issues with 0.2.0.

[2015-07-27 18:22] xvrl commented on #22
@drorata I don't think union queries have been added to pydruid, but if you'd like to contribute it, we'd be more than happy to include it.

[2015-07-27 18:22] fizyk commented on #26
ok then... let's just close it. We've pushed the upgrade down, my only concern is that if we'd ever had to downgrade the system, it would be a nightmare. Well... if it's identical to 0.2.0, we'll figure something out then...

[2015-07-27 18:25] xvrl commented on #26
@fizyk sounds good, sorry again for the version mishap, please re-open if you're having issues with 0.2.0

[2015-07-27 18:25] #26 closed

[2015-07-28 08:05] fizyk commented on #26
@xvrl do you guys have up-to-date changelog somewhere? betweem the 0.2.0/1 and 0.2.2 we've got some simple integration tests failing, and would like to see some changes synopsis.

[2015-07-28 19:04] xvrl commented on #26
@fizyk Here's the list of PRs that got merged between 0.2.0 and 0.2.2. Most of those are bugfixes, support for additional query types and unit tests.
https://github.com/metamx/pydruid/pulls?q=is%3Apr+is%3Aclosed+milestone%3A0.2.2

If any of those broke anything, would you mind filing an issue that reproduces the problem?

[2015-09-03 09:01] se7entyse7en opened #27 "Support for 'filtered' aggregator"
Hi, am I wrong or there's no support for "filtered" aggregation?

[2015-09-03 12:49] se7entyse7en opened #29 "`PyDruid` not extending `object`"
Is there any reason why `PyDruid` class is not extending `object`?

[2015-09-07 10:00] se7entyse7en opened #30 "Exception when `filter=None`"
When building query if `filter=None` then an exception occurs:

[code]

[2015-09-07 10:56] se7entyse7en commented on #29
This makes difficult to extend the `PyDruid` class as it uses old-style classes.

[2015-09-07 10:57] se7entyse7en commented on #30
Given that the `filter` argument is optional I think that with `filter=None` it shouldn't throw an exception.

[2015-09-08 16:32] se7entyse7en opened #31 "Tests unittest vs py.test"
Is there any reason for which has been choosen `py.test` instead of the built-in `unittest` for testing? I would like to add some tests and I honestly don't know `py.test`, but `unittest` seems compatible. Can I write them without using `py.test`?

[2015-09-08 18:52] xvrl commented on #31
@se7entyse7en I believe py.test requires a lot less work to write tests than unittest, although that may have changed with unittest2 now being part of Python 2.7. I say we stick with py.test unless there is a good reason to change?

[2015-09-09 08:05] se7entyse7en commented on #31
I'm not an expert about the various python testing tools, but I don't see great advantages that would let me choose py.test over the standard library unittest, but maybe just because I never used it. I took a very fast look at some other python projects to see which testing tools they use and I saw that actually projects such as flask and requests use pytest with requests using unittest and pytest

[2015-09-10 15:53] se7entyse7en opened #33 "Support for query cancellation"

[2015-09-10 16:27] drcrallen commented on #33
@se7entyse7en Can you clarify a bit more on what kind of usage patterns you are wanting here?

[2015-09-11 07:47] se7entyse7en commented on #33
@drcrallen I'm developing a dashboard to query druid and I'd like to have an 'abort' button that cancels the query if it's taking *too long* to execute. I'm already extending `PyDruid` in order to simplify the interface of the methods for my specific usage and I could also add there a cancel method given that it is a simple DELETE request, but I think that it should be already provided by `PyDruid

[2015-09-11 10:18] se7entyse7en commented on #31
@xvrl I found `pytest-cov` and I think it could be very usefull when writing tests in order to maximize the coverage of the project. Usage:

    (pydruid)se7entyse7en@Marvins-MacBook-Air:~/Projects/pydruid (filtered_aggregation)$ py.test --cov-report term-missing --cov pydruid tests/
    ==============================================================================     test session starts     ====

[2015-09-11 20:14] xvrl commented on #31
@se7entyse7en python test coverage sounds great! We could add a travis integration to get coverage stats like we do for https://github.com/druid-io/druid

[2015-09-12 09:57] se7entyse7en commented on #31
@xvrl I opened the pull-request #34 starting from pull-request #32 that contains a very basic configuration for travis CI.

[2015-09-22 05:19] #27 closed

[2015-09-30 15:46] #31 closed

[2016-02-19 12:24] giorgosera opened #42 "Query construction results in nested filters instead of an array"
I'm trying to run the following query

[code]

Looking at the actual constructed query I get:

[code]

Inside the filter object I was expecting the fields array to contain all selectors at the same level and not nested.

[2016-02-20 16:03] giorgosera commented on #42
A PR is ready to be merged resolving this issue: https://github.com/druid-io/pydruid/pull/43

[2016-03-10 17:56] #42 closed

[2016-03-18 18:41] #29 closed

[2016-06-13 21:55] rajk-tetration opened #56 "Readme out of date due to moving functions"
Some of the functions/constructors like longsum and Field are not included when you import `from pydruid.client import *`, you need to go into utils, so I think the readme needs to be updated. I can do it myself if needed, but didn't want to give incorrect information since I'm unfamiliar with pydruid.

[2016-07-20 06:44] sid88in opened #59 "Support for Extraction Filter"
http://druid.io/docs/latest/querying/filters.html

{
    "filter": {
        "type": "extraction",
        "dimension": "product",
        "value": "bar_1",
        "extractionFn": {
            "type": "lookup",
            "lookup": {
                "type": "map",
                "map": {
                    "product_1": "bar_1",
                    "product_5": "bar_1",
                    "pr

[2016-07-20 08:00] dakra commented on #59
Extractions are in `pydruid.utils.dimensions`.
Map lookup extraction in particular is defined here: https://github.com/druid-io/pydruid/blob/master/pydruid/utils/dimensions.py#L123

[2016-08-17 01:11] the-dcruz opened #61 "Support for TopNMetricSpec"
Looks like passing a TopNMetricSpec for a TopN query is currently not supported since `metric` passed into `topn` is a string.

From topn docstring:
[code]

[2016-09-04 19:06] mghosh4 opened #63 "Asynchronous client is not working"
I tried running the pydruid async client. It does not work. The issue is that it uses AsyncHttpClient from tornado which is the interface. Instead we should be using one of the implementation, SimpleHttpAsyncClient or CurlAsyncHTTPClient. The latter is better as described in this link http://www.tornadoweb.org/en/stable/httpclient.html#module-tornado.simple_httpclient. I have made this one line fi

[2016-09-06 16:41] mghosh4 commented on #63
Using the curl based client will put 2 additional dependencies. You need to install libcurl4-openssl-dev in linux and also pycurl python package. Should I just change the doc for this? Or is there a way to add this dependency in the patch?

[2016-09-07 07:42] turu commented on #63
Are you sure it doesn't work? I'm asking because it does work on production since many months in our stack. You may want to take a look at this: http://www.tornadoweb.org/en/stable/httpclient.html#tornado.httpclient.AsyncHTTPClient ;)

[2016-09-07 15:38] mghosh4 commented on #63
I see. I might be using the constructor wrong then. From what I understand if I configure AsyncHTTPClient to use the correct class. It should work? Let me know if I do not understand this.

[2016-09-16 19:04] noppanit opened #64 "Is it possible to support merge property in segment metadata query?"
Is it possible to support `merge` in `segment_metadata?

https://github.com/druid-io/pydruid/blob/f9645c9eaa7848410c08a13079b67f4450d2b642/pydruid/query.py#L336

If yes, I can make a PR.

[2016-09-18 18:26] turu commented on #63
@mghosh4 You just need to use the constructor as described in the linked docs. The ```simple_httpclient``` is fully sufficient and definitely should stay as the default, since it doesn't require any additional dependencies installed on your machine - unlike the ```curl_httpclient```.

Perhaps, a patch allowing people to override the default client could be useful though. Feel free to submit one.

[2016-10-09 08:11] noppanit commented on #64
@RichRadics Thanks! When will this be merged?

[2016-10-17 08:28] se7entyse7en opened #65 "Version bump"
Is it possibile to bump a new version (maybe `0.3.1`) including the in filter support?

[2016-10-30 22:04] turu commented on #63
@gianm @xvrl @fjy
I would suggest closing this issue, since its name may be misleading people to think that the async client is broken - It isn't.

[2016-10-30 22:22] fjy commented on #63
Thanks @turu

[2016-10-30 22:22] #63 closed

[2016-12-14 21:21] #30 closed

[2016-12-14 21:23] fjy commented on #65
@se7entyse7en can you submit a PR?

[2016-12-14 21:23] fjy commented on #61
@the-dcruz any chance you can submit a PR for this?

[2016-12-15 05:54] dakra commented on #65
I assume he just means to increase the version number in setup.py https://github.com/druid-io/pydruid/blob/master/setup.py#L39 and make a release.

Don't think a pull request is necessary for that, especially since someone from the pydruid team has to upload the new version to pypi anyway.

[2016-12-15 07:41] se7entyse7en commented on #65
@dakra exactly

[2016-12-15 16:32] mistercrunch commented on #65
+1 https://github.com/airbnb/superset maintainer here. I'm very familiar with the Pypi deploy process if you guys want to give me rights on the package and the repo I could take this on when needed.

[2016-12-15 16:45] gianm commented on #65
Right now only a couple people have rights to the package, I'll see if I can get a hold of one of them.

[2016-12-16 02:07] dkhwangbo commented on #65
+1 !

[2016-12-22 23:06] gianm commented on #65
0.3.1 is now up on pypi.

[2016-12-22 23:06] #65 closed

[2017-01-23 10:49] aakashvit opened #75 "insert data into druid using python code"
how we can insert data into druid using python code?

[2017-01-23 15:07] erikdubbelboer commented on #75
You can not insert into Druid directly. But you could set up druid to ingest from [Kafka](https://kafka.apache.org/) and then use something like https://github.com/dpkp/kafka-python to send events to Druid.

[2017-01-23 15:09] aakashvit commented on #75
thanks!

[2017-01-23 15:10] #75 closed

[2017-02-25 13:42] nishantmonu51 commented on #64
closed by - https://github.com/druid-io/pydruid/pull/67

[2017-02-25 13:42] #64 closed

[2017-02-25 16:07] nishantmonu51 commented on #22
Thanks to @RichRadics for the fix here -  https://github.com/druid-io/pydruid/pull/74

[2017-03-20 23:39] philos22 opened #78 "Query Filter Or Syntax?"
what is the syntax for OR conditions in the filter argument?

eg. filter = (Dimension('A')=='val1') & ((Dimension('B')=='val2')#  | (Dimension('C')=='val3'))

This doesn't seem to work, leads to error:

`File "./pydruid_query.py", line 150, in <module>`
`gfl2 = group_last2.export_tsv('group_last2_result.tsv')`
`File "/usr/lib/python2.6/site-packages/pydruid/query.py", line 99, in export_tsv`
`head

[2017-03-21 12:43] RichRadics commented on #78
Apart from the rogue `#`, your example looks ok.
You can look at the output of `filter.build_filter(filter)` to see what it's generated - this should be
`{'type': 'and', 'fields': [{'dimension': 'A', 'value': 'val1', 'type': 'selector'}, {'type': 'or', 'fields': [{'dimension': 'B', 'value': 'val2', 'type': 'selector'}, {'dimension': 'C', 'value': 'val3', 'type': 'selector'}]}]}`

[2017-03-21 19:14] philos22 commented on #78
@RichRadics Thank you for the reply!

From the docs:
class pydruid.utils.filters.Filter(**args)
Bases: object
static build_filter(filter_obj)

When I try to declare an instance of the Filter class using:

`or_statement = Filter({'type': 'and', 'fields': [{'dimension': 'A', 'value': 'val1', 'type': 'selector'}, {'type': 'or', 'fields': [{'dimension': 'B', 'value': 'val2', 'type': 'selector'}, {'dim

[2017-03-21 23:00] #78 closed

[2017-03-22 18:17] philos22 opened #81 "PyDruid Installation Error??"
this comes up after running pip install pydruid:

  Running setup.py egg_info for package pydruid
    Traceback (most recent call last):
      File "<string>", line 14, in ?
      File "/home/ctsai/build/pydruid/setup.py", line 30, in ?
        tests_require=['pytest', 'six', 'mock'],
      File "/usr/lib64/python2.4/distutils/core.py", line 110, in setup
        _setup_distribution = dist = klass

[2017-04-05 20:48] azymnis opened #83 "Custom duration granularities?"
Based on what I read in the [docs](http://druid.io/docs/latest/querying/granularities.html), Druid supports custom granularities like this:

[code]

Is there support for that in PyDruid?

[2017-04-06 03:51] dakra commented on #81
The python `with` syntax was introduced with python 2.5, but I guess for pydruid to run you need at least python 2.6.

[2017-04-06 04:03] dakra commented on #83
Sure, pydruid just passes whatever you put to `granularity` to druid. So, for example, you can just do `druid.groupby(...., granularity={"type": "duration", "duration": 7200000}, ....)`

[2017-04-06 16:15] azymnis commented on #83
Oh you just json serialize all fields of the query... Ok that makes sense, thanks. Might be good to document that somewhere

[2017-04-06 16:15] #83 closed

[2017-04-12 17:57] #81 closed

[2017-05-13 14:44] var23rav opened #85 "Support for 'interval' filter."
**Is there any 'Interval Filter' available ?**

I couldn't find it in **"type" : "interval"** in [filter](https://github.com/druid-io/pydruid/blob/master/pydruid/utils/filters.py) code.

Filtering on a set of ISO 8601 intervals:

[code]

[2017-05-13 17:51] gianm commented on #85
@var23rav, it's probably missing. A PR would be welcome!

[2017-05-20 06:33] sajomathews opened #86 "Support for granularity spec"
The current version only seems to support granularity that is defined as an enum in druid. It does not support the more generic JSON object scheme for granularity.

[2017-05-20 06:49] sajomathews commented on #86
Actually, it does support it by passing a raw dictionary. The documentation needs to be updated to reflect the same.
Possible also include a builder to make it easier instead of having to pass a raw dictionary.

[2017-05-21 13:53] var23rav commented on #85
Initiated a PR [#87](https://github.com/druid-io/pydruid/pull/87)

[2017-05-24 14:16] ofirnn opened #88 "Broker Load-balancing"
Adding option to query Zookeeper for available brokers, for availability / load-balancing

[2017-05-24 21:43] drcrallen commented on #88
FYI, this is what the Router does

[2017-05-25 19:53] joshwalters opened #89 "PyDruid 0.3.2?"
With the merge of https://github.com/druid-io/pydruid/pull/72 we now have the ability to perform theta sketch operations. This functionality is needed in [Superset](https://github.com/airbnb/superset), but we need a new PyDruid pip package to be pushed so that we can use this new feature.

Is there a release process / timeline to get a new package pushed? Is there anything I can do to help? My und

[2017-05-26 04:19] gianm commented on #89
pydruid doesn't really have much of a process. All it takes is a vote on the druid-development group and someone to volunteer to do the release. I'll start the vote -- look for it there. You can help by voting and by testing the build and reporting whether or not it works for you.

[2017-05-26 06:51] gianm commented on #89
Vote thread: https://groups.google.com/forum/#!forum/druid-development

[2017-05-30 21:20] joshwalters commented on #89
Thanks for the help @gianm! I will chime in on the vote thread.

[2017-05-30 21:20] #89 closed

[2017-06-15 13:54] Dylan1312 opened #90 "Filter.show() doesn't work for nested filters"
Eg.

[code]

Results in:

[code]

[2017-06-20 01:53] samratisking opened #91 "name 'Dimension' is not defined"
Hi,

I am trying pydruid for the first time on python 2.7, with wikipedia data source.
However I am getting the following error when trying to execute the following query in python.

`top_langs = query.topn(
    datasource = "wikipedia",
    granularity = "all",
    intervals = "2013-06-01T00:00/2020-01-01T00",
    dimension = "channel",
    filter = Dimension("namespace") == "article",
    aggreg

[2017-06-21 02:27] fufjvnvnf opened #92 "`Dimension` object has no attribute `in_`"
I'm doing virtually the same thing as the last example on the [github page](https://github.com/druid-io/pydruid), where I try to create a filter with `Dimension(something).in_([...])`, but the error in the title showed up. Is this a problem with python version? I'm using `3.5.3`.

[2017-06-21 02:38] fufjvnvnf commented on #91
How did you import `pyrduid`?

[2017-06-21 16:31] dakra commented on #92
Documentation seems to be pretty outdated. And looking through the
history not sure if there ever was a `in_` method on
`Dimension`. Should be an easy patch but for now you can just use

` filters.Filter(type='in', dimension='dim', values=['val1', 'val2', 'val3']))`

[2017-06-28 07:10] vikramsinghchandel opened #93 "Support for Distinct Values"
How to perform following aggregation operation in pydruid AVG(DISTINCT(col))

[2017-06-28 09:01] vikramsinghchandel opened #94 "How to apply multiple filters to a group by query"
How can i apply multiple filters to a group by query following does not work
filters = (pydruid.utils.filters.Dimension("unit")=='000721') & (pydruid.utils.filters.Dimension("val") > 0)
query1 = query.groupby(
            datasource=dataSource,
            granularity='minute',
            #intervals='2016-08-01/p12w',
            #intervals='2016-08-01/pt24h',
            intervals='2016-08-11/20

[2017-07-06 11:47] var23rav commented on #94
Import the Filter class

[code]
val > 0, these kind work can be handled by make use of _javascript_ functionality
[code]
Now join them like which can be substitue to the **query.groupby** function.
[code]

[2017-07-06 11:53] var23rav commented on #93
Do a **groupby on col**, which will give you a list of unique data.
The apply avg, aggregation on result.

[2017-07-11 17:39] RichRadics commented on #92
Bah - my bad, I removed the code for the `_in` syntax between the README changes and the PR...

[2017-07-24 14:29] magor commented on #59
@dakra , could you please elaborate on how to use linked class in filter specification (as in, using `pydruid.utils.filters.Filter` class)?

This pull request seems related: #76

[2017-07-25 02:50] dakra commented on #59
@magor I was thinking about dimension extractions. You're right that for lookup extraction on the Filter you have to wait for #76

[2017-08-02 12:40] Dylan1312 opened #98 "Have Filter implement __eq__"
I'd like to write assertions to check that the filter's my code generates are valid. Can Filters implement __eq__ to allow comparisons to work?

Eg.

[code]

[2017-08-10 11:21] Dylan1312 opened #99 "ThetasketchEstimate not working on Python2.7"
When unit tests are run on Python2.7

TestPostAggregators.test_build_thetapostaggregator fails with

[code]

It looks like the object is being used in the dictionary rather than the object's post_aggregator. Will drop a PR to fix.

[2017-08-10 11:24] Dylan1312 commented on #99
Perhaps a separate topic but I noticed the project has a travis.yml but I assume this isn't currently used.

Could we have this used? Happy to contribute with this if possible with a little guidance.

[2017-08-24 13:30] sajomathews opened #101 "Filter operands are modified during "and" and "or" operations"
When combining filters using & and | operators, the operands are modified. This might lead to unexpected results.

This only happens, if the type of operation is the same as the type of the first filter.

[2017-09-13 08:09] amoussoubaruch commented on #91
hi @samratisking

Have you solve this problem??

Thanks

[2017-09-17 18:28] var23rav commented on #85
Closing since feature is available with  [PR 87 code merged](https://github.com/druid-io/pydruid/commit/2420109553812470ed4d91cd0f8d5e70bbf2cfd3).

[2017-09-17 18:28] #85 closed

[2017-09-28 05:46] samratisking commented on #91
Yes, I was able to resolve the issue.
`from pydruid import *
from pydruid.client import *
from pylab import plt
from pydruid.query import QueryBuilder
from pydruid.utils.postaggregator import *
from pydruid.utils.aggregators import *
from pydruid.utils.filters import *

from pydruid.client import *
from pylab import plt
query = PyDruid("http://implyxxxxxxxxxxx:8082", 'druid/v2')
ts = query.timeser

[2017-09-28 05:47] #91 closed

[2017-12-06 14:06] ganninu93 opened #104 "Support for dimensionspecs"
I have some string data which contains numerical values. I would like to convert this data from string to long, so that I would be able to perform aggregations such as Min, Sum etc. As the link below suggests, druid allows you to perform this conversion by specifying a dimensionspec. Is this functionality supported in pydruid?

http://druid.io/docs/latest/querying/dimensionspecs.html

[2017-12-06 16:44] Dylan1312 opened #105 "Like filter"
It'd be handy to be able to use a 'like' Filter when querying -> http://druid.io/docs/latest/querying/filters.html

[2017-12-12 14:27] #104 closed

[2018-01-29 05:16] #99 closed

[2018-02-14 14:34] rdraju opened #122 "Support for COMPLEX SQL types like hyperUnique in SQLAlchemy"
Right now there is no mapping for complex column types in SQLAlchemy and this causes a "Key error: other" when autoloading a Table.

[2018-02-23 22:11] pals966 opened #123 "JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
I am trying to read druid data base using python 3.5 and DB API of pydruid; however whenever I run the execute statement I get the error:

Code I am running:
_from pydruid.db import connect
conn = connect(host='XXXXXXX', port=8082, path='/druid/v2', scheme='http')
curs = conn.cursor()
curs.execute("""SELECT * FROM wikipedia LIMIT 10""")_

Error:
_---------------------------------------------------

[2018-02-23 23:26] gianm commented on #123
I think this means you are getting some error page as HTML; it should be reported cleaner after #121.

[2018-02-23 23:26] gianm commented on #123
I would suggest either upgrading to a pydruid that has #121 (sorry I am not sure which one that would be!) or checking your Druid server logs for more details (they usually log errors like this).

[2018-02-24 00:41] mistercrunch commented on #123
#121 is not in any releases yet. The only way to get the changelog per version at the moment is to pull the git tag and looking at the git log.

Would be nice to fix the issue at the source eventually, I feel like we shouldn't have heterogenous endpoints, all errors should be json-parseable.

[2018-03-20 10:06] suhassumukhv opened #124 "Filter class selector type is not implemented"
I installed `pydruid` with `pip`.
Doing, `Filter(type="selector", dimension="dim", value=val)` returns,

[code]
Why isn't a basic selector filter still implemented?

[2018-03-21 16:35] Dubrzr commented on #123
I have the same issue, but this is probably due to kerberos. Is kerberos supported in pydruid?

[2018-03-22 14:04] Dubrzr opened #125 "Add kerberos auth"
Some Druid are running with Kerberos enabled, that would be nice to have pydruid to work with these kerberized instances.
I just saw that you are using the *requests* library to request the druid http api.
And I also saw that there is a [requests-kerberos](https://github.com/requests/requests-kerberos) library to add kerberos auth.
Would it be possible to integrate it in pydruid?

The only require

[2018-03-22 15:25] mistercrunch commented on #125
If we had some sort of `config.py` and a way to overwrite variables declared in there (say in a `druid_config.py`), we could add an new config var called `REQUESTS_AUTH` which we'd then have to hook up in all `requests` calls.

Your local `druid_config.py` would simply set:
[code]

[2018-03-22 16:53] Dubrzr commented on #125
Ok I see :)

What do you think of just adding a "requests_auth=None" parameters to *pydruid* functions that call *requests* and pass this parameter to these subcalls to *requests*?

Something like:

[code]

where connect would call requests like that:

[code]

Also, I saw that you are also using urllib, why not use requests?

[2018-03-23 23:37] mistercrunch commented on #125
Looks like you'll need many entry points and will have to carry many layers down the stack.

[2018-05-08 21:21] nishantmonu51 opened #128 "Replace requests library with urllib"
We need to package superset, pydruid alongwith the dependencies to support offline installations for our clients.
Now the issue is that requests brings in a LGPL dependent library named 'chardet' which we cannot ship in the bundle. (https://github.com/requests/requests/blob/master/setup.py#L46)

On a quick glance at the usage of requests inside pydruid, it seems this can easily be replaced with ur

[2018-05-09 00:03] mistercrunch commented on #128
Oh snap. Both Airflow and Superset use `requests` as well.

[2018-05-09 22:13] sangmeshcp opened #129 "pydruid installation failinf"

[2018-05-10 04:03] mistercrunch commented on #129
Weird. Can you `pip install pytest-runner` ? I tried to recreate from scratch in both py2.7 and py3.6 and it just worked...

[2018-05-14 14:52] nishantmonu51 commented on #128
I looked at the usage in Superset, I found requests usage at limited places when interacting with Druid coordinator.

@mistercrunch Any thoughts on how invasive will be the changes in Airflow required to replace {{requests}} usage ?

[2018-05-14 16:17] mistercrunch commented on #128
It's bad, 172 references
[code]
We should probably fork `requests` to `requests-nogpl` and start using that. Ideally someone would commit to keep doing matching releases long-ish term.

[2018-05-15 11:28] AbdealiJK opened #130 "bad error for druid-sql not enabled"
First time druid user here - I initiated my druid server and I found that when I tried opening the CLI or anything with pydruid I kept getting:

[code]

Had to go through the source to realize that there is a `.json()` call to show the error message and that was failing. Would be a good idea to catch and mention this in a better way.
I realized my issue was that `localhost:8082` wasn't running.

[2018-05-15 17:59] AbdealiJK commented on #130
Latest - v0.12

[2018-05-22 12:51] NTAWolf commented on #101
+1, I just got bitten by the same behavior. Here is the smallest example I could make up:

[code]

The seemingly innocent `a_and_b & f` modifies `a_and_b`, which, for me, is entirely unexpected.

[2018-05-22 12:58] NTAWolf commented on #101
Well well well! A tiny investigation reveals that this is intended behavior, at least in the source code comments:

- https://github.com/druid-io/pydruid/blob/master/pydruid/utils/filters.py#L90-L91
- https://github.com/druid-io/pydruid/blob/master/pydruid/utils/filters.py#L98-L99

@dakra (thanks for your work!!), it looks like you wrote it back in the day :) Is the above the intended behavior, or

[2018-06-28 11:20] jmcorreia opened #134 "Can't load plugin sqlalchemy.dialects:druid"
Hello all!
I'm trying to create a datasource in superset, using pydruid. I can use pydruid cli successfully, but when I try to create a superset datasource, pointing to druid I'm getting this error: "Can't load plugin sqlalchemy.dialects:druid".

Any idea how to solve this?

Best regards.

Superset version
0.15.0 integrated with hadoop

Expected results
Integrate Druid with SQL lab

Actual results

[2018-07-12 07:10] kuixiang commented on #134
I've met the same error "cannot import name AbortAction" when i execute the command "pydruid http://localhost:8082/druid/v2/sql/",the Trace is:
Traceback (most recent call last):
  File "/home/fee/runtime/anaconda2/envs/mars/bin/pydruid", line 11, in <module>
    load_entry_point('pydruid==0.3.1', 'console_scripts', 'pydruid')()
  File "/home/fee/runtime/anaconda2/envs/mars/lib/python2.7/site-pack

[2018-07-12 14:53] mistercrunch commented on #134
CLI is optional, run `pip install pydruid[cli]`. We may want to print/raise a better exception to make that clear. @betodealmeida

[2018-07-19 13:03] pantlavanya opened #135 "SubQueries Support"
Hello All,

How i can generate subqueries using pydruid because datasource field only take either str or list?
""" ValueError: Datasource definition not valid. Must be string or list of strings """

Below is the sample query. On which I am passing query output of 1st query to another query as datasource.
[code]

[2018-07-23 04:37] mistercrunch commented on #135
Not currently supported AFAICT

[2018-08-30 07:47] chrisungarro opened #136 "Issues with .json"
Please i need help, i am new to python i am following a training video from Udemy build 10 world real applications,
i am about building the dictionary but i am stuck with the errors below.
i don't know what else to do. i will appreciate any help concering how to fix this error.

thanks

`parse_constant=parse_constant, object_pairs_hook=obje
ct_pairs_hook, **kw)
  File "C:\Users\learn\AppData\Local

[2018-09-04 19:18] mistercrunch commented on #136
Does this have something to do with PyDruid?

[2018-09-22 01:59] tercel53 opened #137 "Bug with bound filter"
The 'alphaNumeric' parameter in the bound filter is useless when the dimension is numeric and has negative values .I find the solution to solve the problem that set the 'ordering'  to 'numeric' instead of 'alphaNumberic',but this can not be supported in the lastest vesion. I hope that the api of pydruid can update with the druid.io .

[2018-10-01 21:03] mistercrunch commented on #137
Soon after we receive a PR with a fix for it.

[2018-10-17 10:50] pantlavanya commented on #135
Hi @mistercrunch,
Can I send a PR for this? I have find a way to do this.

[2018-10-18 18:04] mistercrunch commented on #135
Please do!

[2018-10-19 06:50] pantlavanya commented on #135
Hi @mistercrunch
Below is my PR. It may not be perfect, let me know you suggestions.

https://github.com/druid-io/pydruid/pull/139

[2018-11-08 02:47] yuandixia opened #140 "Support for timeout customization in AsyncPyDruid"
Currently the AsyncPyDruid use default 20s timeout value in tornado HTTPRequest, which produce timeout errors frequently for me when doing some heavy queries. Can we add an optional parameter here to customize the timeout value?

[2018-11-28 06:02] #134 closed

[2019-01-14 08:18] msestak commented on #129
Similar issue:

[root@tardis python36]# /root/pydev/py36-venv/bin/pip download --proxy=http://proxyuser:proxypass@proxy:8080 pydruid --dest=/tmp/python36
Collecting pydruid
  File was already downloaded /tmp/python36/pydruid-0.5.0.tar.gz
Complete output from command python setup.py egg_info:
    Download error on https://pypi.org/simple/pytest-runner/: [Errno 101] Network is unreachable -- Some pa

[2019-01-14 09:23] msestak commented on #129
I checked all versions on PyPi and issue appears from version 0.4.0 - 0.5.0. Versions 0.2.x and 0.3.x download fine (they don't ask for pytest-runner).

[2019-01-18 16:14] RafaelReia commented on #123
I had the same error

 and I fixed it by enabling SQL in Druid: http://druid.io/docs/latest/querying/sql.html

[2019-02-12 08:22] msestak commented on #129
Problem occurred because this was clean install. Solution was to install pytest-runner before I tried pydruid install.

[2019-03-04 15:54] sanveera commented on #125
Could you please someone post some sample code for Kerberos auth?

[2019-03-05 06:25] john-bodley opened #151 "Lack of description for empty result set causes SQLAlchemy exception"
SQLAlchemy throws an `AttributeError` when fetching from a [ResultProxy](https://docs.sqlalchemy.org/en/latest/core/connections.html#sqlalchemy.engine.ResultProxy) when the underlying Druid query results in an empty result set, e.g. no rows, as the proxy is prematurely closed, i.e.,
[code]
The reason the ResultProxy is closed is because `cursor.description` is [`None`](https://github.com/sqlalchem

[2019-03-05 06:39] betodealmeida commented on #151
@john-bodley note that `cursor.description` should be `None` in this case:

[2019-03-05 06:42] betodealmeida commented on #151
Maybe we're missing something in the SQLAlchemy dialect?

[2019-03-05 10:32] betodealmeida commented on #151
@john-bodley note too that `.fetchall()` **should** return an exception when no rows are returned:

So I think this is behaving as expected.

[2019-03-05 15:27] john-bodley commented on #151
@betodealmeida the `fetchall` isn’t throwing the exception, but instead the underlying cursor is `None` because it’s prematurely closed.

[2019-03-05 15:53] betodealmeida commented on #151
@john-bodley but my point is, you should always wrap your `.fetchall()` in a `try/except` block, in case zero rows were returned.

[2019-03-05 16:07] john-bodley commented on #151
@betodealmeida note's it's the ResultProxy [`fetchall`](https://github.com/sqlalchemy/sqlalchemy/blob/66e88d30a86fc37e2eaf7367e988ced3834e3250/lib/sqlalchemy/engine/result.py#L1195) method that I'm calling which wraps the underlying DBAPI and has slightly different behavior (per the [documentation](https://docs.sqlalchemy.org/en/latest/core/connections.html#sqlalchemy.engine.ResultProxy.fetchall))

[2019-03-05 19:19] john-bodley commented on #151
@betodealmeida I created https://github.com/sqlalchemy/sqlalchemy/issues/4523 to discuss how one should handle an empty result set associated with a SELECT statement when no description is available.

[2019-03-05 22:13] john-bodley commented on #151
@betodealmeida it seems that https://github.com/apache/incubator-druid/pull/6191 will help remedy the solution as the SQL interface provides a mechanism for returning the column names via the `X-Druid-Column-Names` header.

[2019-03-14 06:06] Makesh-Gmak commented on #151
@john-bodley : I am also impacted by this issue. I am currently using Druid 0.13.0. But still I am not receiving `X-Druid-Column-Names` header  in my response. Any druid config file need to be updated for this ?

[2019-03-14 06:25] Makesh-Gmak commented on #151
As a part of this bug (https://github.com/apache/incubator-druid/issues/6409,) , it looks like they  moved the column info to response body  which can be seen by setting `"header" : true` in the request, which will never return empty response.

The below query will return 1 row with all columns
**Query**
[code]
**Result**
[code]

[2019-03-14 10:21] Makesh-Gmak opened #154 "Support for custom payload and headers"
Currently, we are having REST API Layer (RAL) on top of Druid and our app( SQLAlchemy based) sends query through RAL.

RAL is expecting,

1. HTTP request JSON payload with additional params like `info`, `maxRowCount` ,etc (Refer below)
2. Additional HTTP headers like Session ID, Auth Tokens, etc.
3. HTTP JSON response is also having additional params like `code`, `elapse` ,etc (Refer below)

**Sam

[2019-03-14 17:05] john-bodley commented on #151
@Makesh-Gmak we're currently not using Druid 0.13.0 though I'm trying to push for an upgrade. When this happens I was planning on making a change to `pydruid` to support using the header.

It seems including the `header` in the request for older versions doesn't break things and thus the change should be fairly simple, i.e., if a header is present use it to define the description, otherwise revert

[2019-03-15 00:49] #151 closed

[2019-03-15 08:16] Makesh-Gmak commented on #151
Thanks for the resolution. When will be the next release ?

[2019-03-27 12:34] Makesh-Gmak opened #157 "Columns are CASTed to wrong Data type"
Currently I have a SQLLachemy model like below with column_property(). But the PyDruid compils the query where BIGINT is converted to LONG, which leads to the error.

`
class wikipedia_model(Base):
    __tablename__ = 'wikipedia'

    page = Column(VARCHAR, primary_key=True)
    delta = Column(BIGINT)
    delta_casted = column_property(cast(delta / 10, BIGINT) * 10)

`query = db_session.query(wiki

[2019-04-07 16:57] iamshreeram opened #158 "OSError: HTTP Error 407: Proxy Authetication error"
Is there any way to pass proxy authentication in `pydruid`? I'm seeing below error when using `pydruid.client`

[code]
It works good when I use `pydruid.db.connect`

[2019-04-24 15:07] wjdecorte commented on #140
Is there any plan to make this change?  We are currently experiencing a timeout issue and need a way to increase the timeout for tornado HTTPRequest.

[2019-04-25 15:43] wjdecorte commented on #140
I've created a branch on my fork for this feature.  I'd like to have it integrated into this repository, but I'm new to the process.  I'll submit a pull request.  Please let me know if I need to do anything else.

[Branch](https://github.com/wjdecorte/pydruid/tree/f_timeout_issue_140)

[2019-05-14 17:03] wjdecorte opened #162 "Allow use of the Tornado curl_httpclient implementation"
Currently PyDruid uses the default tornado simple_httpclient implementation which the ability to change to the curl_httpclient which could be faster.  It would be great if an optional parameter could be set to change the implementation of the http client from the default.

[2019-06-10 16:25] pantlavanya commented on #135
This issue is fixed. Below is the way you can define sub queries.

group = query.groupby(
    datasource=query.sub_query(datasource='twitterstream',
            granularity='hour',
            intervals='2018-01-01/2018-05-31',
            dimensions=["dim_key", "dim_key2"],
            filter=(Dimension('user_lang') == 'en') & (Dimension('user_name') == 'ram'),
            aggregations={"first_va

[2019-06-12 18:20] wjdecorte commented on #137
I know this an old issue, but I have a fix for it and will do a PR soon.

[2019-06-12 18:32] rchossein opened #169 "DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working"
This is the warning I'm getting when doing unit testing (with pytest) for my module.

[code]

[2019-06-14 01:29] wjdecorte commented on #158
I'm no expert, but I see the PyDruid class has two methods that might be helpful for you.
1. set_basic_auth_credentials(username, password)
2. set_proxies(proxies)

I hope that helps!

[2019-07-09 11:35] wjdecorte commented on #162
Fix implemented.

[2019-07-09 11:35] #162 closed

[2019-07-09 11:38] wjdecorte commented on #140
@yuandixia
This has been implemented.
[Pull Request](https://github.com/druid-io/pydruid/pull/163)

[2019-08-12 03:29] JiHyeongSeo opened #175 "Support for only lower bound"
group = query.groupby(
    datasource='datasource',
    granularity='hour',
    intervals='2019-08-01/2019-08-07',
    dimensions=["dimensionl"],
    filter=((Dimension("id") == 122) & (Bound(Dimension("seconds"), 0, alphaNumeric=True))),
    aggregations={"count": doublesum("count")}
)

when I run above code, type error raise like this
`TypeError: __init__() missing 1 required positional argument

[2019-08-13 01:50] #175 closed

[2019-09-16 10:34] ashexpert commented on #135
it still raise ValueError because query.sub_query return dict while in query.groupby check for the given datasource to be string or list of string. can you fix that too?

[2019-09-16 11:02] pantlavanya commented on #135
Sure I can fix this, What your trying to do. Can you please give me an example?

[2019-09-17 07:33] pantlavanya commented on #135
Hi @ashexpert,
I Understood your problem,

Hi @ashexpert,

I understand your problem. Yes when you use sub_query, it return dict.

[2019-09-17 08:03] pantlavanya commented on #135
PR
https://github.com/druid-io/pydruid/pull/179

[2019-09-20 11:24] ashexpert commented on #135
Hi @pantlavanya
yes that was exactly my problem
sorry i didn't answer but you figured it out by yourself

[2019-09-20 11:25] pantlavanya commented on #135
Hi @mistercrunch
Can we get this merge. Thanks @ashexpert  for pointing this.

[2019-10-14 06:38] choich commented on #137
Has this issue been fixed?

[2019-10-18 01:53] wjdecorte commented on #137
@choich Yes, it was fixed.

[Pull Request](https://github.com/druid-io/pydruid/pull/170)

[2019-10-26 18:24] sampathmora opened #181 "query granularity doesn't allow to set origin"
[druid documentation reference](https://druid.apache.org/docs/latest/querying/granularities.html)
Query granularity doesn't allow to set origin as it only takes a string as value.

example:
[code]

[2019-10-26 20:52] #181 closed

[2020-02-10 11:03] EmadMokhtar opened #191 "[Question] PyDruid queries misses the cache, Why?"
Hi,

Last week we upgrade from Python 2.7 to Python 3.5, and with this upgrade, we upgraded PyDriud from `0.4.1` to `0.5.7`. After this upgrade we saw there are many queries misses the cache from historicals and brokers. We are enabling the `useCache` and `populateCahce` setting by default. Thus we are not passing it into the PyDruid query.

[code]

Any idea what is wrong?

[2020-02-12 17:16] EmadMokhtar opened #192 "Error when the error response is in bytes format"
# Overview

We are getting errors from the Druid APIs but it is in a bytes format `b''`. When the error response passed to the `json.loads()` it will crash. I think this happening after this PR #121.

## Error Details

[code]

[code]

### versions
- Druid version: 0.16.0
- Python: 3.5.3
- PyDruid:

[2020-02-13 07:30] EmadMokhtar commented on #192
I will try to fix this.

# Plan

I have a simple plan to fix this issue. I will check if the content of the error message (HTTP response) is in a byte format, then I will decode it.

[2020-02-17 00:21] tomas-kucera opened #194 "Question: Is it possible to work with timezones?"
Hi there, looking for a way to work with timezones. All timestamps are in UTC timezone. Running this query:
[code]

Result:
[code]

The counts are for UTC TZ, but I would like to get the following record counts in another TZ, such as America/Los Angeles (-08:00) TZ.

Doing it on the result is OK when doing it on a full dataset but as soon as I would specify a filter for for example a few days only

[2020-02-17 14:17] MSadeghzadehG commented on #194
I think you should use separate queries for each TZ, and then aggregate results for your use-case.
you can use this link to specifying TZ for each query:
https://druid.apache.org/docs/latest/querying/granularities.html#period-granularities

[2020-02-17 18:53] tomas-kucera commented on #194
@MSadeghzadehG - **You made my day!**  The following code:
[code]
produced this nice result (notice the TZ change on 2019-11-03 - DST ;) ):
[code]
Thanks!

[2020-02-17 18:53] #194 closed

[2020-02-17 19:11] MSadeghzadehG commented on #194
You’re welcome.

[2020-02-19 18:06] trakru opened #195 "Intervals in raw_data"
Not an issue per se, but more of a guide/community ask.

I was trying to grab data from the Druid broker, but apparently there was a 50,000 record limit for any request, so ended up creating a 4 hour grabInterval (outlined below) in a list and loop the request through the list to create the intervals required. Anybody else face the same issue/create a different solution using some of the other par

[2020-03-14 08:32] potiuk opened #198 "Pydruid 0.5.9 installation fails on Python 3.7 (with pytest ??)"
When we try to install released yesterday pydruid 0.5.9 on python 3.7 during our CI pipeline it fails to install. Looks like it is somewhow related to pytest runner (I guess some pytest dependency in druid moved from setup-requires to install-requires maybe?)

Example here: https://travis-ci.org/github/apache/airflow/jobs/662274100?utm_medium=notification&utm_source=github_status

[code]

[2020-03-19 11:34] villebro commented on #198
@potiuk I'm hitting the same error on Python 3.7.5, based on quick googling it seems to be a problem with the way `pytest-runner` creates temporary directories. Can look into this later, for now I suggest checking out the `0.5.9` tag or `0.5` branch from GitHub and doing a `pip install .`.

[2020-03-19 14:01] potiuk commented on #198
Yep. We did that as a workaround we added limits for pydruid. Happy to remove it when it's fixed :)

[2020-04-04 02:37] naoyak commented on #198
Also running into this.

[2020-04-06 07:56] SongYunSeop opened #202 "Add Having Type dimSelector, filter"
I'd like to add to having type `dimSelector` and `filter`.

- dimSelector

[code]

- filter

[code]

And I could create pull request about that.

Ref
- https://druid.apache.org/docs/latest/querying/having.html#dimension-selector-filter
- https://druid.apache.org/docs/latest/querying/having.html#query-filters

[2020-04-06 08:36] SongYunSeop commented on #202
@mistercrunch Can you please review this PR?

[2020-04-07 08:01] denisesenguel opened #204 "Add Scan queries to query module as Select has been removed in Druid 0.17.0"
As Select queries have finally been replaced entirely by Scan queries in the new Druid version 0.17.0 https://github.com/apache/druid/releases/tag/druid-0.17.0

there currently is no way in PyDruid to simply query rows without pre-aggregation, so Scan queries should be added and a deprecation warning returned when running a Select query!

[2020-04-07 15:08] denisesenguel commented on #204
I realized this is just missing in the documentation but actually available - my bad!

[2020-04-07 15:08] #204 closed

[2020-04-14 08:24] JustFeng opened #205 "Missing params Key in SCAN Query"
druid/processing/src/main/java/org/apache/druid/query/scan/ScanQuery.java
scan query has a param named 'order' is invalid in pydruid scan()method
Druid is support this query param in non-legacy scan query mode

please add 'order' in  pydruid query Query scan valid_parts

[2020-04-17 21:58] MSadeghzadehG commented on #205
I'm working on it...

[2020-04-17 22:29] MSadeghzadehG commented on #205
I think #207 will fix it.

[2020-04-20 22:22] mistercrunch commented on #198
FWIW, pytest predates my involvement in this repo. Happy to review code that will make us 3.7.x compatible.

[2020-04-20 23:27] naoyak commented on #198
Could this be fixed as part of #190 by removing `pytest` and `pytest-runner` from `setup.py`?
https://github.com/pytest-dev/pytest-runner/blob/master/README.rst#deprecation-notice

[2020-04-21 01:47] #202 closed

[2020-04-21 04:44] MSadeghzadehG commented on #205
#183 merged. you can close the issue.

[2020-04-21 05:50] MSadeghzadehG commented on #157
Is it still open?

[2020-04-21 08:41] SongYunSeop opened #208 "Enable extractionFn on Search Filter and Like Filter"
Druid can use extraction function on search filter and like filter.
But PyDruid not.

Ref:
- [https://druid.apache.org/docs/latest/querying/filters.html#search-filter](https://druid.apache.org/docs/latest/querying/filters.html#search-filter)
- [https://druid.apache.org/docs/latest/querying/filters.html#like-filter](https://druid.apache.org/docs/latest/querying/filters.html#like-filter)

[2020-04-24 05:53] SongYunSeop opened #211 "Apply black"
Issued by https://github.com/druid-io/pydruid/pull/209#discussion_r412621355

[2020-05-15 18:54] #205 closed

[2020-05-18 09:22] Diliz commented on #129
This bug still exists, why not adding pytest-runner to the dependencies if it's needed by the lib?

[2020-05-19 17:23] mistercrunch commented on #198
Should we move away from pytest and onto something like nosetest? How much work would that represent?

[2020-05-19 17:50] villebro commented on #198
Agreed, we need to deprecate `pytest`, although I believe `nose` is also on its way out (I haven't tried it personally, but apparently `nose2` is the successor of `nose`).

[2020-05-25 19:50] #135 closed

[2020-05-25 23:01] #211 closed

[2020-05-27 10:08] srecheandia opened #214 "Upload version 0.5.10 to PyPI"
Would it be possible to upload latest version [0.5.10](https://github.com/druid-io/pydruid/releases/tag/0.5.10) from 20th April to PyPI?
Thanks

[2020-06-01 06:26] hushaoqing opened #215 "How to set resultFormat: compactedList?"

[2020-06-05 19:43] #198 closed

[2020-06-06 07:21] villebro commented on #198
FYI @naoyak and @potiuk : this should now be fixed in `pydruid==0.5.11`.

[2020-06-06 10:25] villebro commented on #169
@rchossein This issue can be closed, as it was fixed in #216

[2020-06-06 17:27] potiuk commented on #198
Cool. Will try it :)

[2020-06-07 04:31] #169 closed

[2020-06-08 15:41] Diliz opened #220 "[0.6.0] Module not found error"
Hello!

Saw there was a lot of modifications, even if small ones, in the last version bump, it seems the module can't be imported with a simple `import pydruid`, nor a `from pydruid.client import *`.

I got this error when trying to do so: `ModuleNotFoundError: No module named 'pydruid'`

It seems related to this commit: https://github.com/druid-io/pydruid/commit/f09b7afe61679536bb16b347a58ea8b4e5

[2020-06-08 15:58] scottbelden commented on #220
For those trying to go back to an older version as a workaround, version `0.5.11` and `0.5.10` have the same problem. It looks like `0.5.9` works.

[2020-06-08 18:00] sundeep commented on #220
FWIW, `0.5.9` didn't work for us, but installing from the parent commit to the "breaking" one did.

So `"pydruid@git+git://github.com/druid-io/pydruid.git@c44f36480c7c83bd29954c020585937ff753a873"` , rather than `"pydruid@git+git://github.com/druid-io/pydruid"` in `setup.py`

[2020-06-09 07:17] Diliz commented on #220
This is a weird behavior, maybe the built and pushed package was not well built in the first place, did you try building the latest version of druid yourself to check if the [commit](https://github.com/druid-io/pydruid/commit/f09b7afe61679536bb16b347a58ea8b4e510c1d6#diff-2eeaed663bd0d25b7e608891384b7298R26) was the real culprit? xD

[2020-06-10 07:35] Keyrainn commented on #220
For those encountering the issue,  it happen with pydruid version `0.6.0`. current workaround is to revert back to version` 0.5.9` by running `pip install pydruid==0.5.9`.  You may refer [here](https://stackoverflow.com/questions/62295826/no-module-named-pydruid/62296708#62296708).

Credit to Narendra Prasath for great assistant.

[2020-06-10 23:25] mistercrunch commented on #220
👀

[2020-06-11 07:48] Keyrainn commented on #91
So basically add the code below will solve the issue. but why ?

`from pydruid import *
from pydruid.client import *
from pylab import plt
from pydruid.query import QueryBuilder
from pydruid.utils.postaggregator import *
from pydruid.utils.aggregators import *
from pydruid.utils.filters import *`

[2020-06-11 15:57] #220 closed

[2020-06-11 18:38] timarmate-ga opened #222 "Cannot import pydruid after pip installation"
I cannot import pydruid after a seemingly successful pip installation.

You can reproduce it simply using docker:

contents of Dockerfile:
[code]

build the container:
[code]

The output on my machine:
[code]

... and you can run the container and try to import pydruid:

[code]

Outputting:
[code]

[2020-06-12 03:16] Keyrainn commented on #94
Hope they can add this into [filter](https://pythonhosted.org/pydruid/#module-pydruid.utils.filters) documentation. Really helpful

[2020-06-12 04:31] Keyrainn opened #223 "module 'pydruid.client' has no attribute 'time_boundary' and 'segment_metadata'"
pydruid vesion : 0.6.0
I'm following the example from [pydruid documentation](https://pythonhosted.org/pydruid/#module-pydruid.client) example. Seems like the `segment_metadata` and `time_boundary` module returns `AttributeError: module 'pydruid.client' has no attribute` error.

FYI these are the imports that i use :

`from pydruid.utils.postaggregator import *
from pydruid.utils.aggregators impor

[2020-06-12 06:48] mistercrunch commented on #222
ok `0.6.1` is out and should address this

[2020-06-12 06:48] #222 closed

[2020-06-12 06:49] mistercrunch commented on #223
ok `0.6.1` is out and should address this

[2020-06-12 06:49] #223 closed

[2020-06-12 06:49] #214 closed

[2020-06-12 07:08] villebro commented on #220
Hi all, `0.6.1` is now out on PyPI (thanks @mistercrunch !) , and I connected Superset successfully to an Imply cluster with `pydruid==0.6.1` with python versions `3.6.10`, `3.7.7` and `3.8.3`. If you hit any problems feel free to tag me.

[2020-06-12 08:56] timarmate-ga commented on #222
Indeed, it works now with this Dockerfile:
[code]

Thank you.

[2020-06-16 14:18] armanaxh commented on #105
Implemented by @SongYunSeop, you can follow here. #208

[2020-06-17 09:42] DzakirinMD opened #224 "Query.py scan does not support Pagination ?"
**Question**
Hey,

I saw inside `pydruid/pydruid/query.py` that pagination in `select` is supported, but `scan` does not support pagination.  Will future release of pydruid `scan` support pagination as well ? since start of **Druid 0.17** `scan` already supported pagination.

[2020-06-17 16:26] armanaxh opened #225 "Bound filter property is required"
It’s not require fill all property in the druid bound filter. But if we want to use ‌the Filter base class, we have this problem. We do not have this problem when using the ‌Band filter class.

https://druid.apache.org/docs/latest/querying/filters.html#bound-filter
[code]
[code]
After reading the code, I realized that I should use the ‌Band class directly and not the Filter base class, but if we w

[2020-06-17 18:40] yingbo opened #228 "AttributeError: module 'urllib' has no attribute 'error'"
I got this error:

AttributeError: module 'urllib' has no attribute 'error'

I think in the client.py we should `import urllib.request` other than `import urllib`, in python 3.7 and python 3.8 at least, but I'm not sure how to fix it to make it works on all python versions.

[2020-06-18 03:40] WanAmin21 opened #229 "[Question] Does PyDruid support queries Pagination ?"
Question
Hi,

When we do the druid queries in Jupyter notebook, can we make the output shown in pagination?

[2020-06-18 10:55] armanaxh commented on #229
Hi,
I don't know what the problem is, but
A select query returns raw Druid rows and supports pagination. You can get information from [here](https://github.com/druid-io/pydruid/blob/54100504e9eb763f2f98da6c862179420baaf403/pydruid/client.py#L383). Also, see the example. And [here](https://groups.google.com/forum/#!topic/druid-user/ajsjLRHsuq8).

[2020-06-18 11:18] WanAmin21 commented on #229
Hi,
Currently, I'm using druid version 0.18.1, the select query is has been removed and replaced by the Scan query. May I know if is there any ways to do besides using select query?

[2020-06-18 16:36] armanaxh commented on #229
I have no idea.
I had seen the pagination on the Druid panel and was hoping. And check, but It uses the SQL limit and always get the previous ones. :) And cannot be using OFFSET in SQL Druid. Best,

[2020-07-03 07:10] eden-wang commented on #228
I encountered the same problem in python 3.6.9, mac

[2020-07-03 07:45] eden-wang commented on #228
wired, I created another venv, and it works now...

[2020-07-03 14:19] yingbo commented on #228
@eden-wang You can check the client.py file to see what it's importing. I'm not sure starting which python 3 version, it requires to `import urllib.request `

[2020-07-15 01:41] eden-wang commented on #228
It is `import urllib.request`

[2020-07-15 03:42] yingbo commented on #228
Just checked it's still `import urllib`: https://github.com/druid-io/pydruid/blob/master/pydruid/client.py

[2020-07-24 09:15] potiuk commented on #198
Thanks! Tested and removed the upper bound here https://github.com/apache/airflow/pull/9965 . After we merge it to master it should automatically land in our "official" constraints file with 0.6.1 (current latest pydruid version)

[2020-07-30 12:50] sub007 commented on #228
I requires import `urllib.error` to be imported explicitly.

[2020-07-30 12:58] sub007 commented on #215
As of now I don't see an option to set this field for queries for eg., for scan query,

[code]

[2020-08-12 18:54] yingbo commented on #228
Looks this issue was fixed already. I'll close this.

[2020-08-20 21:04] juen1jp opened #232 "[Bug] Cursor object swap init for client cert and proxy"
The new cursor object defined on line 175 of api.py has the order ending in ssl_client_cert, proxies.

The cursor constructor has the order proxies, ssl_client_cert.

This causes the cursor to not work properly. Simple fix swap the order in the Cursor Class.

[2020-08-25 08:00] lokkju commented on #228
`client.py` still seems to have `import urllib`; where do you see it as fixed?

[2020-08-25 13:07] yingbo commented on #228
Hi @lokkju ,
From their latest release: https://github.com/druid-io/pydruid/blob/pydruid-0.5.2/pydruid/client.py#L22, you can see
`from six.moves import urllib`. The `six.moves` fixed the problem

[2020-08-26 06:03] sub007 commented on #228
@yingbo : The code you are referring to is 0.5.2.
Isn't master or 0.6 the latest release? They both have `import urllib`
https://github.com/druid-io/pydruid/blob/master/pydruid/client.py#L18

[2020-08-26 09:05] ravikanth39 opened #233 "[Question] groupby query throwing HTTP Error 500 sometimes"
Hi, Iam running below groupby query  on my druid data source (which is running on kubernetes) using Pydruid .
**query = PyDruid('http://druid_router_ip:druid_router_port', 'druid/v2/')
query.groupby({"datasource": 'INTERFACE_PERFORMANCE',
                     "granularity": 'all',
                     "intervals": previous_day_time + '/' + current_time,
                     "dimensions": ["nodeLab

[2020-08-26 13:16] yingbo commented on #228
Hi @sub007 , you are right that I was referencing and older version above. For the current version or master, looks they changed to user `urllib.request` in the codes already: https://github.com/druid-io/pydruid/blob/498efcab0e4b64175bbaa4c1157b1216eca6c2e0/pydruid/client.py#L42. I am using python 3.7 or 3.8 mainly and didn't see any error. I am, however, not sure whether it will work on python 2.

[2020-09-08 14:18] jccardonar commented on #228
I experienced this and fixed it by explicitly adding urllib.error (then later urllib.request) to client.py (thanks @sub007 ).

However, it was funny that running the script in ipython did not raise any exceptions. Anybody knows why?

[2020-09-08 15:12] yingbo commented on #228
I have no idea either how the problem was fixed, or even being fixed. Hope the pydruid team can give us an answer.

[2020-09-14 14:19] gitmstoute commented on #228
I encoutered this error as well! Per the others, adding:

`import urllib.error
import urllib.request
`
To site-packages/pydruid/client.py of my virtualenv resolved the issue.

[2020-09-23 12:21] CrazyLionHeart opened #235 "`dataSourceMetadata ` not implemented"
According [docs](https://druid.apache.org/docs/latest/querying/datasourcemetadataquery.html), Druid have ability for retrive metadata description about datasource

For segment_metadata, pydruid already have implementation

[2020-10-06 13:39] bencleary opened #237 "Cant use a variable for intervals, but hard coded strings work"
I am working on a project which allows a user to specify a given interval range and query. I am experiencing a problem whereby I cannot pass a generated interval into the query builder.

[code]

If I execute the generated native query against the druid endpoint it works as expected and returns the results I am expecting.

[code]

The same outcome is present if I copy the requested interval in as a

[2020-11-10 12:05] vvagias opened #241 "Pydruid Breaks on latest Python version"
`Traceback (most recent call last):
  File "main.py", line 2, in <module>
    from pydruid.client import *
  File "/opt/virtualenvs/python3/lib/python3.8/site-packages/pydruid/client.py", line 21, in <module>
    from pydruid.query import QueryBuilder
  File "/opt/virtualenvs/python3/lib/python3.8/site-packages/pydruid/query.py", line 28, in <module>
    class Query(collections.abc.MutableSequence

[2020-11-24 14:35] bencleary commented on #237
I have resolved this, it was my environment, still unsure what exactly it was but closing

[2020-11-24 14:35] #237 closed

[2020-11-27 10:49] implodingbunny opened #242 "JSONDecodeError('Unterminated string starting at: line 1 column 85919 (char 85918)')"
Hi,

I'm using pydruid.db.connector to run a query that pulls a row where the content that is returned ends in "...\\".

e.g. "SELECT x FROM y" -> [{"x": "some row"},{"x": "...\\"},{"x": "another row"},{"x": "more rows"}]

2020-11-27 10:44:23: [CRITICAL] JSONDecodeError('Unterminated string starting at: line 1 column 85919 (char 85918)')
2020-11-27 10:44:23: [CRITICAL] Traceback (most recent call

[2021-01-21 17:03] qasimzee opened #247 "Support QuantilesDoublesSketchToQuantile post_aggregator"
I created QuantilesDoublesSketchToQuantile that's a performant post aggregator based on `quantilesDoublesSketch`:
[code]

Please help if it's worth pushing it to pydruid

[2021-02-15 07:39] sdev-code opened #250 "Join"
does pydruid have support for SQL join for native druid queries?
https://druid.apache.org/docs/latest/querying/datasource.html#join

[2021-03-05 05:45] tongwoojun opened #252 "a problem with Python 3"
I'm having a problem with Python 3

`Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.9/3.9.2_1/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pydruid/client.py", line 550, in _post
    req = urllib.request.Request(url, querystr, headers)
AttributeError: module 'urllib' has no attribute 'request'

During handling of the above exception, another exception

[2021-03-09 12:06] rooom13 opened #253 "DruidJoinQueryRel for pydruid"
Which is the equivalent for a DruidJoinQueryRel on pydruid

DruidJoinQueryRel java reference: https://github.com/apache/druid/blob/master/sql/src/main/java/org/apache/druid/sql/calcite/rel/DruidJoinQueryRel.java

I would like to execute multiple queries on parallel via a single druid query. This can be achieved by a SQL query like:
[code]
Which is translated to native druid query as
[code]

[2021-03-15 21:59] pedro93 opened #254 "sqlalchemy.exc.ResourceClosedError: result object does not return rows"
Hello,

When trying to use pydruid via SQLAlchemy to list tables names on a [local quickstart demo druid installation](https://druid.apache.org/docs/latest/tutorials/index.html#), I get the following exception:
[code]

This is the [code snippet](https://github.com/linkedin/datahub/blob/master/metadata-ingestion/src/datahub/ingestion/source/sql_common.py#L196) I'm trying to run connecting to druid

[2021-04-14 12:21] soumonos opened #259 "urlopen error [WinError 10054] : Pydruid connection error wile fetching data through client on Imply druid"
I am trying to connect to my enterprise druid console through pydruid. A sample code follows as:

[code]

I have tried both with and without setting basic_auth_credentials
The url , endpoint, and credentials are from my Imply druid cluster API documentation.

The error I get:

`URLError: <urlopen error [WinError 10054] An existing connection was forcibly closed by the remote host>`

Suggestions wo

[2021-05-07 06:31] Varad2305 commented on #252
I'm facing the same error

[2021-05-14 10:46] sebtrack opened #263 "PyDruids clients throw to generic Exceptions OSError"
The error handling does not allow to manage exceptions when using PyDruid. For example, it's hard to catch an HTTP Error 504: Gateway Time-out and then initiate a retry. A connection refused would on the other hand be an exception to log with Sentry, etc. All the fine-grained HTTP client exceptions get the generic label OSError with a string describing it, which is a bad design decision.

https://

[2021-05-14 10:53] sebtrack opened #264 "time_boundary query: Discrepancy between druid functionality and PyDruid"
According to the [docs](https://druid.apache.org/docs/latest/querying/timeboundaryquery.html
), there are more valid properties than datasource only:
[code]
https://github.com/druid-io/pydruid/blob/98cab4d9c2a08a35667b26a15dee21bdb77422b4/pydruid/query.py#L441-L453

[2021-06-02 18:32] sofiavaldez77 opened #266 "client.scan how to change resolution from minute to hour?"
Hi! I'm trying to use client.scan for a time range of 5 days to output the mean values from a "value" column for every 1 hour (the average value over that hour or the value at that hour?). But right now, it outputs the results for every minute. I tried changing "granularity" to hour but that doesn't change anything.

Anyone know how to change the resolution?

[2021-09-01 06:58] Nagam-Naidu commented on #191
Did we get any resolution for the same. Or is there any way to set useCache and populateCahce while creating connection?

[2021-09-03 13:01] daymos commented on #228
It was fixed in versin 5.2. However is broken again in 6.* I managed to run this by installing 5.2.
However this is an odd one, as I only had the problem while running it inside a docker container. Locally 6.* works alright.

[2021-09-07 11:08] ducminhnguyen opened #272 "Why do you check type and raise error here???"
Everything that has problem should be return as a String, this client cannot control Druid returned data right, so just return a strong to caller, the query succeeded.

![Screenshot from 2021-09-07 19-06-13](https://user-images.githubusercontent.com/5888561/132334824-17a7af72-3a54-4e89-86ad-3dd75dfb835f.png)

[2021-11-03 08:53] GuidoTournois commented on #264
I guess, since bound and filter are optional, these are not taken into consideration when validating the query

[2021-11-04 08:32] GuidoTournois opened #277 "Feature idea: Leverage pydantic for query validation"
The current `validate_query` of the `QueryBuilder` class doesn't do proper validation. I would like to propose to use [pydantic](https://github.com/samuelcolvin/pydantic/) for query input validation. I believe, this would greatly improve the user experience when working with pydruid.

[2021-11-13 11:58] jaimee07 commented on #91
I was able to fix the issue by adding the imports too. Thanks.

[2021-11-21 01:00] paul-rogers commented on #224
More specifically, the [Druid documentation](https://druid.apache.org/docs/latest/querying/scan-query.html) says that the `offset` property is supported for the scan query, but the [`QueryBuider.scan()`](https://github.com/druid-io/pydruid/blob/master/pydruid/query.py#L500) function does not. FWIW, the  `batchSize` property is also not supported in pydruid.

There is a workaround, first build the

[2021-11-25 09:03] #215 closed

[2021-12-01 19:44] pantlavanya opened #278 "JSONDecodeError: Expecting ',' delimiter: line 1 column 7060430653 (char 7060430652)"
Do anyone face something like this?

JSONDecodeError: Expecting ',' delimiter: line 1 column 7060430653 (char 7060430652)

facing this error then druid return large amount of data

[2021-12-08 13:59] GuidoTournois commented on #125
Hi all, it's been a while since there was any activity here. At Adyen we need to connect to our druid cluster with Kerberos authentication, so I was wondering what the status is. I am happy to contribute.

[2022-02-23 19:55] AbdelouahabKhelifati opened #281 "Evaluating query runtime without output"
Hello,

I am using PyDruid to evaluate a query runtime in Druid without taking in account the results output that are obtained on the API.

[code]

Is this a correct way of measuring the runtime. My execution time is always around 200ms or 50ms which is a bit suspecious. Also, the total runtime that I obtain is much higher than the results that I obtain in the API.

Any ideas on how to properly ev

[2022-03-31 20:32] AbdelouahabKhelifati opened #282 "PyDruid for Data Ingestion in Druid"
Is there any way I can use pydruid for data ingestion in druid ? I would like to ingest data gradually from a Python App.

[2022-04-19 07:56] jaimee07 commented on #247
@qasimzee is there a workaround to get the median/quantile without using this? I cant seem to do this with the current Pydruid version. Just trying my luck here. Thank you.

[2022-05-13 15:30] veerappans commented on #250
Hello, wondering if this will be merged. This will be very good option to have for the project we are working on.

[2022-05-29 14:58] AbdelouahabKhelifati commented on #282
Anyone?

[2022-06-03 14:33] scottbelden opened #286 "Version 0.6.3 is broken if you don't already have sqlalchemy installed"
With a fresh python environment, if you do `pip install pydruid` and then do `python -c "from pydruid.db import connect"` you get `ModuleNotFoundError: No module named 'sqlalchemy'`.

This is because sqlalchemy is not a required dependency (only an extra): https://github.com/druid-io/pydruid/blob/893506b5acdf90eb3438f108e46ffd77288a530b/setup.py#L7-L12

However, pydruid.db.exceptions does an impor

[2022-06-05 11:54] jaimee07 commented on #247
@qasimzee Thanks for sharing your code. I was able to utilize this on our end. I created a PR for this: https://github.com/druid-io/pydruid/pull/287

[2022-06-30 08:54] #224 closed

[2022-07-12 05:49] Usiel commented on #122
I believe this was fixed by https://github.com/druid-io/pydruid/pull/131, but is again broken with Druid 0.23.0 and should be fixed with https://github.com/druid-io/pydruid/pull/288.

[2022-07-25 05:06] Usiel opened #289 "Getting columns for a Druid datasource fails with a KeyError"
Since Druid 0.23.0 getting columns fails with the attached error which stops Superset from adding datasets from Druid. As described on the [Druid PR that introduces the relevant change](https://github.com/apache/druid/pull/11713):

I submitted a proposed change that would fix the issue (https://github.com/druid-io/pydruid/pull/288). Adding this issue for completeness sake.

**Steps to reproduce**:

[2022-08-01 07:10] Usiel commented on #289
This issue would also be fixed by https://github.com/druid-io/pydruid/pull/290

[2022-08-09 12:13] tvamsisai commented on #242
Hey, I'm hitting this issue. Is it possible to fix this soon?
This is quite a severe issue as it fails silently.

@gianm @mistercrunch

[2022-08-12 03:30] Usiel commented on #289
Fixed with https://github.com/druid-io/pydruid/pull/288

[2022-08-12 03:30] #289 closed

[2022-09-01 13:19] veerappans commented on #135
This format does not work for me. Getting this error:
 {\"error\":\"Unknown exception\",\"errorMessage\":\"Cannot deserialize instance of `java.util.ArrayList<org.apache.druid.query.TableDataSource>` out of START_OBJECT token\\\\n at [Source: (org.eclipse.jetty.server.HttpInputOverHTTP); line: 1, column: 73]

[2022-09-02 13:10] veerappans commented on #135
This format is not working. Can you please help?

[2022-09-02 17:43] veerappans commented on #135
Its not forming the query right. Its adding extra union type which is making the syntax incorrect.

[2022-09-08 21:15] veerappans commented on #135
@pantlavanya , can you please help. When I use the pydruid query format that you have given above, it is getting converted to native druid with an extra 'union' and druid query is failing. Would appreciate if you can help! Thanks.

[2022-09-15 00:53] veerappans opened #293 "Subquery not getting converted property"
I tried a simple subquery query:

`
sub_query = druid_conn.sub_query(datasource='twitterstream_res',
            granularity='day',
            intervals='2022-01-01/2022-01-03',
#             dimensions=[],
            aggregations={"first_value": doublesum("REVENUE")},
    )

group_query = druid_conn.timeseries(
    datasource=sub_query,
    granularity='day',
    intervals='2022-01-01/2022-01-0

[2022-09-19 21:48] kyhtsang opened #294 ""do_ping" broken in last pydruid release, can't add a Druid as a new Database in Superset, need a pydruid release"
Trying to add Druid as a new database in Superset results in an error:

`ERROR: (builtins.NoneType) None`

This is caused by https://github.com/druid-io/pydruid/pull/284, which got released along with pydruid 0.6.3.

This got fixed in https://github.com/druid-io/pydruid/pull/292, but there needs to be a release of pydruid before Superset will pick it up.  Can a release containing this fix be made

[2022-09-19 22:56] dclim commented on #294
@mistercrunch Is this something you could help with? Every release in the past 4 years was done by you, so I'm hoping you may know something about how to do this :)

[2022-09-27 21:08] betodealmeida commented on #294
I can make a new release, I'll work on it.

[2022-09-27 21:39] dclim commented on #294
Sweet, thanks @betodealmeida !

[2022-09-28 17:46] gianm commented on #294
It looks like the change from #292 (removing a `text` wrapper) was reverted in #290 (which re-added the wrapper). Don't be fooled by the PR numbers: 290 was merged _after_ 292.

I'm not sure which one is correct? I am not familiar with SQLAlchemy. But, the current code in master, & in 0.6.4, does have the `text` wrapper. So if it's correct to _not_ have it, then we'd want to remove it from master

[2022-09-29 02:29] Usiel commented on #294
I think the removal of the `text` wrapper is correct. For me the connection checkout from a pool is broken with the latest change from #290:
[code]
Output indicates that the ping fails, while it succeeds without the `text` wrapper:
[code]

@betodealmeida is there a different use-case that is broken by #292 and fixed by #290?

[2022-10-12 20:21] afghani-iitkgp commented on #259
Have you used any Query Context param?
https://druid.apache.org/docs/latest/querying/query-context.html

[2022-10-20 04:21] nytai commented on #294
Second this issue. Looking at this PR it appears that the fix in #290 is to address usage with sqlalchemy 1.4, but it breaks when using SQLAlchemy==1.3.24. A fix would probably be to check the version of sqlalchemy and add the `text` wrapper based on that.

[2022-10-20 04:35] Usiel commented on #294
I executed the manual test above (see my previous comment) with both SQLAlchemy<1.4.0 and ==1.4.0. In both cases I get the same results: With the text wrapper the connection fails, without the text wrapper it succeeds.

Similarly on Superset with SQLAlchemy>=1.4.0 the connection test fails for Druid DBs.

So imo reverting #290 should do the trick.

[2022-11-02 17:08] betodealmeida commented on #294
Working on this.

[2022-11-02 22:05] betodealmeida commented on #294
Fixed in #295, will work on a new patch release.

[2022-11-03 20:35] betodealmeida commented on #294
This should be fixed in 0.6.5, just out.

[2022-11-03 20:35] #294 closed

[2022-11-03 20:40] betodealmeida commented on #281
I'm not sure if that's correct. The DB API connector will stream the results from Druid, so unless you have iterated over all the result set I don't think you can assume that the query execution has finished.

https://github.com/druid-io/pydruid/blob/bd7b741a93c11733f928d649b9927448032e11f4/pydruid/db/api.py#L365-L380

The correct time is probably closer to `end2 - start` in this case, I think.

[2022-11-03 20:42] betodealmeida commented on #241
Pydruid is now working with 3.8. We should add support for 3.9+ though.

[2022-11-03 20:42] #241 closed

[2022-11-03 20:43] betodealmeida opened #297 "Support newer Python versions"
I tested with 3.9.2 and couldn't install the pinned dependencies. We should test with 3.9/3.10/3.11.